<div class="">
    <h3>MultiDataBase / Insertar nueva tabla</h3>
    <h4>Uso de función del API (/insertTable)</h4>
    <a href="../App" type="button" class="btn btn-danger btn-lg pull-left">
        <i class="fa fa-arrow-left"></i>Volver
    </a>
</div>


<div class="row " ng-controller="multiController" ng-init="iniciar()" >
    <br /><br />
    <hr />

    <div class="col-lg-12 text-center" >
    <form  ng-submit="createTable()" >
       
            <h2>Configuración </h2>
            <input placeholder="Id Conección" id="idCon"  class="input-lg"  ng-model="cID" ng-value="cID" />
            <input placeholder="Table Name" class="input-lg" ng-model="name" />
            <button type="submit" class="btn btn-warning btn-lg"> Crear Tabla</button>
       
    </form>
    </div>
    <div class="col-lg-12 text-center">
        <form ng-submit="addColumn()">

            <h2>Columnas</h2>

            <div class="col-md-12">
                <input placeholder="Nombre" class="input-lg" ng-model="Cname" /> 
                <input placeholder="Tipo" class="input-lg" ng-model="Ctype" />
                <input placeholder="Longitud" class="input-lg" ng-model="Clength" />

                <button class="btn btn-primary" type="submit"> <i class="fa fa-arrow-rigth"> </i> Añadir</button>

            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4 ">

               <hr />
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="col in todas">
                      {{col.name}}
                        <span class="badge pull-right">{{col.type}}</span>
                        <span class="badge pull-right">{{col.length}}</span>
                    </li>

                </ul>
                
            </div>


        </form>



    </div>
    <hr /><br /> <br />
    <script>
        function getUrlVars() {
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi,
            function (m, key, value) {
                vars[key] = value;
            });
            return vars;
        }

        // Now you can get the parameters you want like so:
        var id = getUrlVars()["id"];
       // $("idCon").value = id;
        document.getElementById("idCon").value = id;
     //   alert(id);
    </script>
</div>

